@page "/folder/{FolderId}/customers"

@using ghostlight.Shared
@using ghostlight.Shared.Enumerations

@inject NavigationManager _navigationManger
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject ghostlight.Client.Services.API API
@inject ghostlight.Client.Services.AppState _appState

<div class="row mt-3">
    <div class="col-md-12">
        <a href="@($"/folder/{_appState.CurrentFolderId}/customer")" class="btn btn-success float-right"><i class="fas fa-plus mr-2"></i>Add Customer</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <form class="input-group float-right" @onsubmit="(() => SearchCustomers(0, false))">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" @bind="Search.FilterText" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search mr-2"></i>Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12">
        <div class="btn btn-link btn-sm float-right pointer" @onclick="(() => SearchCustomers(0, true))">Reset Search</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination float-right">
                @if ((Search.Page + 1) > 1)
                {
                    <li class="page-item pointer"><div class="page-link" @onclick="(() => SearchCustomers(Search.Page - 1, false))">Previous</div></li>
                }
                <li class="page-item"><div class="page-link">Page @(TotalFound == 0 ? 0 : (Search.Page + 1)) of @(Math.Ceiling((double)TotalFound / PageSize))</div></li>
                @if ((Search.Page + 1) < (Math.Ceiling((double)TotalFound / PageSize)))
                {
                    <li class="page-item pointer"><div class="page-link" @onclick="(() => SearchCustomers(Search.Page + 1, false))">Next</div></li>
                }
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th width="50%" scope="col" @onclick="(() => Sort(nameof(ghostlight.Shared.CustomerSlim.Name)))" class="pointer">
                        Name
                        @if (Search.SortBy == nameof(ghostlight.Shared.CustomerSlim.Name))
                        {
                            @if (Search.SortDirection == SortDirection.Ascending)
                            {
                                <i class="fas fa-angle-down"></i>
                            }
                            else if (Search.SortDirection == SortDirection.Descending)
                            {
                                <i class="fas fa-angle-up"></i>
                            }
                        }
                    </th>
                    <th width="20%" scope="col" @onclick="(() => Sort(nameof(ghostlight.Shared.CustomerSlim.State)))" class="pointer">
                        State
                        @if (Search.SortBy == nameof(ghostlight.Shared.CustomerSlim.State))
                        {
                            @if (Search.SortDirection == SortDirection.Ascending)
                            {
                                <i class="fas fa-angle-down"></i>
                            }
                            else if (Search.SortDirection == SortDirection.Descending)
                            {
                                <i class="fas fa-angle-up"></i>
                            }
                        }
                    </th>
                    <th width="20%" scope="col" @onclick="(() => Sort(nameof(ghostlight.Shared.CustomerSlim.City)))" class="pointer">
                        Active
                        @if (Search.SortBy == nameof(ghostlight.Shared.CustomerSlim.City))
                        {
                            @if (Search.SortDirection == SortDirection.Ascending)
                            {
                                <i class="fas fa-angle-down"></i>
                            }
                            else if (Search.SortDirection == SortDirection.Descending)
                            {
                                <i class="fas fa-angle-up"></i>
                            }
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr class="pointer">
                        <td><div class="btn btn-link" @onclick="(() => SelectCustomer(item.Id))">@item.Name</div></td>
                        <td class="align-middle">@item.State</td>
                        <td class="align-middle">@item.City</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination float-right">
                @if ((Search.Page + 1) > 1)
                {
                    <li class="page-item pointer"><div class="page-link" @onclick="(() => SearchCustomers(Search.Page - 1, false))">Previous</div></li>
                }
                <li class="page-item"><div class="page-link">Page @(TotalFound == 0 ? 0 : (Search.Page + 1)) of @(Math.Ceiling((double)TotalFound / PageSize))</div></li>
                @if ((Search.Page + 1) < (Math.Ceiling((double)TotalFound / PageSize)))
                {
                    <li class="page-item pointer"><div class="page-link" @onclick="(() => SearchCustomers(Search.Page + 1, false))">Next</div></li>
                }
            </ul>
        </nav>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12">
        <label class="float-right search-found">Found @TotalFound.ToString("N0")</label>
    </div>
</div>

@code {
    [Parameter]
    public string FolderId { get; set; }

    private Search Search { get; set; } = new Search();
    int PageSize { get; set; } = 15;

    List<CustomerSlim> Items = new List<CustomerSlim>();
    int TotalFound { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await _appState.UpdateAppState(FolderId);

        var cachedSearch = await localStorage.GetItemAsync<Search>("CustomerSearch");
        if (cachedSearch == null)
        {
            await SearchCustomers(0, true);
        }
        else
        {
            Search = cachedSearch;
            await SearchCustomers(Search.Page, false);
        }
    }

    async private Task SearchCustomers(int? page, bool reset)
    {
        if (reset == true)
        {
            Search = new Search();
            Search.SortBy = nameof(ghostlight.Shared.Customer.Name);
            page = null;
        }

        Search = new Search()
        {
            FilterText = string.IsNullOrEmpty(Search?.FilterText) ? null : Search?.FilterText,
            Page = page == null ? Search.Page : (int)page,
            PageSize = PageSize,
            SortBy = Search.SortBy,
            SortDirection = Search.SortDirection
        };

        await localStorage.SetItemAsync("CustomerSearch", Search);

        var response = await API.CustomerSearch(FolderId, Search);
        Items = response.Data;
        TotalFound = response.Total;
    }

    async private Task Sort(string column)
    {
        Console.WriteLine(column);

        Search.SortBy = column;
        Search.SortDirection = Search.SortDirection == SortDirection.Ascending ? SortDirection.Descending : SortDirection.Ascending;

        await SearchCustomers(Search.Page, false);
    }

    private void SelectCustomer(string customerId)
    {
        _navigationManger.NavigateTo($"folder/{FolderId}/customer/{customerId}");
    }
}